# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Compiled
*.class

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Env / secrets — NUNCA versionar
.env
.env.*
application-local.properties
src/main/resources/application-prod.properties

# H2 (se gerar arquivo local)
*.db
*.trace.db

# Node (se algum dia usar build tool no front)
node_modules/